@media  screen and (max-width: 500px)  {
    *{
        width: 300px;
    }
    #logo-link{
        width: 100px;
    }
    #subtitulo{
        
        margin-top: 60px;
        font-size: 1.7rem;
        text-align: start;
        margin-left: 30px;
    }
    
    section.container{
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: 70px;
        row-gap: 20px;
    }

    div.boxes{
        width: 200px;
        height: 200px;
        background-color: #ff8000;
        margin-left: 80px;
    }
    div.boxes:not(:hover){
        width: 250px;
        height: 250px;
    }
    
    div.boxes:hover{
        width: 300px;
        height: 300px;
    }
    
   
    body{
        overflow-x: hidden;
    }

    header{
        width: 500px;
        background-color: #ff9e43;
        display: flex;
        justify-content: space-around;
        column-gap: -30px;
     
    }
    #logo{
        width: 5rem;
        margin-left: 10px;
        margin-top: 5px;
    }
    
    nav{
        align-items: center;
    }

    .nav_list{
        column-gap: 10px;
        margin-left: -50px;
      
    }
    li{
        width: 80px;
    }
    li a{
        font-size: 1rem;
        padding: 1rem;
    
    }
    footer{
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 500px;
        height: 600px;
        margin-top: 100px;
        background-color: #111111;
        color: white;
        font-family: 'Ubuntu';
    }
    div#contato h2{
        margin-bottom: 20px;
        margin-left: 15px;
    }
    div#contato{
        margin-top: 20px;
        margin-left: 10px;
    }
    div#contato p{
        font-size: 16pt;
    }
    #mapa{
        width: 50%;
        height: 50%;
        border-radius: 10px;
        margin-left: 10px;
    }
    

}
@media screen and (max-width: 500px) and (min-width: 390px){
    #logo{
        width: 5rem;
        margin-left: 10px;
        margin-top: 5px;
    }
    
    nav{
        align-items: center;
    }

    .nav_list{
        column-gap: 10px;
        margin-left: -50px;
      
    }
    li{
        width: 80px;
    }
    li a{
        font-size: 1rem;
        padding: 1rem;
    
    }
}
@media screen and (max-width: 385px ) and (min-width: 321px){
    #logo{
        width: 4rem;
        margin-left: -15px;
        margin-top: 5px;
    }
    .nav_list{
        column-gap: 10px;
        margin-left: -80px;
      
    }
    li{
        margin-left: -16px;
    }
    li:first-child{
        width: 70px;
    }
    li a{
        font-size: 12pt;
        padding: 2px;
        margin-left: 5px;
    }
}
@media screen and (max-width: 320px){
    #logo{
        width: 4rem;
        margin-left: -15px;
        margin-top: 5px;
    }
    .nav_list{
    
        column-gap: 10px;
        margin-left: -70px;
      
    }
    li{
        margin-left: -16px;
    }
    li:first-child{
        width: 70px;
    }
    li a{
        font-size: 12pt;
        padding: 2px;
        margin-left: 5px;
    }

    div.boxes{
        width: 100px;
        height: 100px;
        background-color: #ff8000;
        margin-left: 30px;
    }
    div.boxes:not(:hover){
        width: 200px;
        height: 200px;
    }
    
    div.boxes:hover{
        width: 250px;
        height: 250px;
    }

    div#contato p{
        font-size: 13pt;
    }
}